*{
  box-sizing: border-box;
}

.App {
  font-family: 'Karla';
  font-style: normal;
}

.nav{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
  height:55px;
}

.nav--title{
  margin-left: 8px;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  letter-spacing: normal;
}

.nav--trollface{
  width:31px;
  height: 26px;
  margin-left: 20px;
}

.nav--project{
  margin-left: auto;
  margin-right: 37px;
  font-weight: 500;
  line-height: 15px;
}

main{
  padding:36px;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  grid-gap:17px;
  margin-bottom: 17px;
}

.form--topText, .form--bottomText{
  border: 1px solid #D5D4D8;
  font-family: 'Karla';
  font-style: normal;
  border-radius: 5px;
  text-indent: 5px;
}

.form--button{
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  font-family: 'Karla';
  font-style: normal;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  grid-column: 1 / -1;
  cursor: pointer;
}

.meme{
  position:relative;
  margin:auto;
  justify-content: center;
  align-items:center;
  display:flex;
}

.meme--image{
  border-radius: 10px;
  width:500px;
}

.meme--text{
  position:absolute;
  text-align: center;
  color:black;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
}

.top{
  top:0;
}

.bottom{
  bottom:0;
}